.sidebar-bars-btn {
  transform: rotate(90deg);
}

.App {
  text-align: center;
}

.searchbar {
  margin: 10px auto 0;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
  outline: none;
}

.go-btn {
  color: #fff;
  /* position: relative; */
  /* top: 50%; */
  /* left: 50%; */
}

.wrapper {
  height: 100vh;
  max-height: 100vh;
}

.conversation-wrapper,
.friends-wrapper {
  margin-top: 10px;
  padding: 20px 10px;
  background: rgba(184, 184, 184, 0.199);
  border-radius: 10px;
  max-height: 400px;
  overflow-y: scroll;
}

.conversation-h1,
.friends-h1 {
  padding: 0 50px 10px;
  border-bottom: 1px solid #fff;
}

.friend-list-item {
  color: #fff;
  font-size: larger;
  font-weight: 700;
  padding: 10px 15px;
  /* border-bottom: 1px solid rgb(139, 139, 139); */
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.online {
  background-color: rgba(0, 255, 21, 0.199);
}
.offline {
  background-color: rgba(153, 153, 153, 0.199);
}

.chat-selected {
  background: rgba(0, 0, 0, 0.247);
  padding: 5px 10px;
  border-radius: 20px;
}

.chat-window {
  border-left: 1px solid #ddd;
  padding: 0 5px;
}

.chat-msgs-window {
  /* position: absolute;
  top: 0; */
  height: calc(100vh - 200px);
  max-height: fit-content;
  overflow-y: scroll;
  border: 1px solid rgb(92, 92, 92);
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
}

.msg-slf {
  background: rgb(197, 197, 197);
  padding: 5px;
  color: black;
}

.msg-new {
  background: rgb(77, 175, 255);
  padding: 5px;
  color: #fff;
}

.srch-res {
  margin: 5px 10px;
  padding: 5px 10px;
  position: relative;
  top: 0;
  /* max-width: 200px; */
}

.each-srch-rslt {
  z-index: 2;
  margin: 10px 20px;
  padding: 5px;
  background: rgb(255, 255, 255);
  /* border-radius: 20px; */
}

/*  */

.msg {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-start;
}

.document-message {
  background: rgba(255, 255, 254, 0.082);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.document-icon {
  width: 60px;
}

.messageText {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #1877f2;
  color: white;
  max-width: 300px;
}

.messageBottom {
  margin-top: 5px;
  font-size: 12px;
}

.slf {
  align-items: flex-end;
}

.slf .messageText {
  background-color: rgb(245, 241, 241);
  color: black;
}

.chat-wrapper {
  height: 100vh;
  max-height: 100vh;
}

.chat-input {
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
}

.show-messages {
  overflow-y: scroll;
  height: 70%;
  min-height: 70%;
  max-height: 70%;
  border: 2px solid rgba(255, 255, 255, 0.466);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 10px;
}

.editor-wrapper {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.13);
  background: #fff;
}

.editor-toolbar {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  background: #fff;
}

.editor-input {
  z-index: 99;
  padding: 0 15px;
  height: 100%;
  min-height: 90px;
  max-height: 90px;
  overflow-y: scroll;
  color: #000;
  /* background: rgba(255, 254, 192, 0.733); */
  background: #fff;
  /* background: #fff; */
}

/* .editor-bottom-row {
  position: relative;
  bottom: 0;
} */

.chatSubmitButton {
  width: 70px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: white;
}

#actual-upload-btn {
  background-color: rgba(255, 254, 192, 0.333);
  width: 35px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 0px;
  color: #fff;
  outline: none;
  border: none;
}
/*  */
